@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

html {
    color:black;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    display: block;
}

body {
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}
input[type="text"]{
    outline: none;
}
:root{
    --tw-text-opacity: 1;
}
.shadow-custom {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  }